<ion-tabs>
    <ion-tab-bar slot="bottom" class="style-tabs">
        <ion-tab-button tab="albums" href="/tabs/albums">
            <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
            <ion-label>Carpetas</ion-label>
        </ion-tab-button>

        <ion-tab-button>
        </ion-tab-button>

        <ion-tab-button tab="photos" href="/tabs/photos">
            <ion-icon aria-hidden="true" name="image-outline"></ion-icon>
            <ion-label>Fotos</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

    <!-- take photo -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-contain">
        <ion-fab-button (click)="addNewPhoto()" class="button-fab" *ngIf="showAddPhotos">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="addNewAlbum()" class="button-fab" *ngIf="!showAddPhotos">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-tabs>