<app-header [name]="nameAlbum" [showBack]="true"></app-header>

<ion-content [fullscreen]="true">
    <app-list-photos [photosInput]="photosAlbum" (clickDeleted)="deletedPhoto($event)"></app-list-photos>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-contain" id="open-modal">
        <ion-fab-button class="button-fab" (click)="addPhotoToAlbum()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-modal trigger="open-modal">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button (click)="cancel()">Cancelar</ion-button>
                    </ion-buttons>
                    <ion-title align="center">Elige las fotos</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <app-list-photos [photosInput]="photoService.photos" [selection]="true"
                    (selectedPhotos)="changeSelectedPhotos($event)"></app-list-photos>

                <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-contain">
                    <ion-fab-button (click)="addNewPhoto()" class="button-fab">
                        <ion-icon name="camera"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>